.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-color: var(--bg-color-off);
  padding: 16px;
  gap: 35px;
}

.projectsContainer h2 {
  padding: var(--pd-0);
}

@media screen and (min-width: 768px) {
  .projectsContainer {
    padding: 32px;
  }
}

/* Filters */

.filterButton {
  padding: var(--pd-0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filterButton button {
  margin: 5px;
  cursor: pointer;
  background: transparent;
  color: var(--text-secondary-color);
  padding: 4px 8px;
  font-size: 10px;
  border: 1px solid var(--border);
  transition: background-color 0.2s ease-out, color 0.2s ease-out,
    border 0.2s ease-out;
  border-radius: var(--radius);
}

.filterButton button:hover {
  background-color: var(--hover-secondary);
  color: var(--bg-color);
}

.filterButton button.active {
  background-color: var(--hover-secondary);
  color: var(--bg-color);
}
