.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home p {
  padding: var(--pd-1);
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}

.title {
  text-align: center;
  flex-direction: column;
}

.title h1 {
  font-size: var(--fs-h1);
  color: var(--text-primary-color);
}

.title h1 span {
  border-bottom: 10px solid var(--bg-color-off);
  margin-bottom: -20px;
}