.skill-container {
  display: grid;
  grid-template-rows: 40% 60%;
  border: 1px solid var(--text-secondary-color);
  height: 300px;
  margin: 10px 0;
}

.skill-container-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-container svg {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 50%;
  background-color: var(--bg-color-off);
  place-items: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--primary-color);
  margin: 15px 0;
  gap: 10px;
}

.skill {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

  background-color: var(--bg-color-off);
  border-radius: 30px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
