.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skillContainer {
  max-width: 200px;
  height: 250px;
  text-align: center;
}

.skillTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.skillTitleSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-off);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skillContainer {
    max-width: 100%;
  }
}
