.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  padding: var(--pd-1);
}

.skillsTitle {
  width: 100%;
}

.skillGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skillGroupTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.skillGroupButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.frontendSkill {
  background-color: var(--bg-color-off);
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.backendSkill {
  background-color: var(--bg-color-off);
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.designSkill {
  background-color: var(--bg-color-off);
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.testingSkill {
  background-color: var(--bg-color-off);
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

.itemContainer div {
  background-color: var(--bg-color);
  padding: 2px 5px;
  border-radius: 5px;
  gap: 10px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .skillGroupTop {
    flex-direction: row;
  }

  .skillGroupButton {
    flex-direction: row;
  }

  .frontendSkill {
    padding: 16px;
    width: 60%;
  }

  .designSkill {
    padding: 16px;
    width: 40%;
  }

  .backendSkill {
    padding: 16px;
    width: 40%;
  }

  .testingSkill {
    padding: 16px;
    width: 60%;
  }
}
