.skills {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-container {
  border: 1px solid var(--text-secondary-color);
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-container:hover h3 {
  color: var(--primary-color);
  transition: color 0.2s ease-out;
}

.skill-container svg {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 50%;
  background-color: var(--bg-color-off);
  place-items: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  margin: 15px 10px;
  gap: 15px;
}

.skill {
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: var(--bg-color-off);
  border-radius: 30px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
