.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;
}

.cardAbout {
  width: 100%;
  background-color: var(--bg-color-off);
  text-align: center;
  border-radius: var(--radius);
  overflow: hidden;
  max-width: 400px;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  margin: auto;
}

.cardImg img {
  min-width: 100%;
  min-height: 100%;
}

.cardInfo h2 {
  padding-bottom: var(--pd-1);
}

.cardInfo {
  padding: var(--pd-0);
}

.socialIcons {
  padding-top: var(--pd-0);
}

.cardContact {
  display: flex;
  justify-content: center;
}

.cardContact ul {
  display: flex;
  justify-content: start;
  gap: 25px;
}

.cardContact svg {
  color: var(--text-secondary-color);
  height: 24px;
  width: 24px;
  transition: all 0.2s ease-out;
}

.cardContact svg:hover {
  color: var(--hover-secondary);
}

@media screen and (min-width: 980px) {
  .about {
    width: 80%;
  }

  .cardAbout {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    text-align: start;
  }

  .cardImg {
    max-width: 30%;
  }

  .cardInfo {
    padding: 0;
  }

  .cardInfoText {
    padding: 0 var(--pd-1);
  }

  .cardContact {
    justify-content: start;
  }

  .socialIcons {
    padding-top: var(--pd-1);
  }
}
