.sectionTitlesContainer {
    width: 100%;
    text-align: center;
    padding: var(--pd-0);
}

.sectionTitlesContainer span {
    font-weight: 900;
    font-size: 0.75rem;
    letter-spacing: 0.175rem;
}
