.projectsContainer {
  width: 90%;
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.listProjectsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .projectsContainer {
    margin: var(--m-1) auto;
  }
}
