.title {
  text-align: center;
  flex-direction: column;
}

.title p {
  padding: 24px 0;
  line-height: 1.4;
}

.title h1 {
  line-height: 1.8;
}

.title h1 span {
  border-bottom: 10px solid var(--bg-color-off);
  margin-bottom: -20px;
}

.contact ul {
  display: flex;
  justify-content: center;
}

.contact li {
  padding: 5px 12px;
}

.contact svg {
  color: var(--text-secondary-color);
  height: 22px;
  transition: all 0.2s ease-out;
}

.contact svg:hover {
  color: var(--primary-color);
}

.divider {
  justify-content: center;
  align-items: center;
  display: flex;
}

.divider span {
  content: "";
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  height: 3px;
  margin-top: 25px;
  background-color: var(--primary-color);
}
