.home {
  padding: var(--pd-1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  flex-direction: column;
}

.title p {
  padding: var(--pd-1);
  line-height: 1.4;
}

.title h1 {
  font-size: var(--fs-h1);
  background: linear-gradient(
    315deg,
    var(--text-primary-color) 0%,
    var(--text-secondary-color) 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.3s ease;
  background-size: 200% 100%;
  background-position: left center;
  line-height: 1.8;
}

.title h1:hover {
  background-position: right center;
  transition: background-position 0.3s ease;
}

.title h1 span {
  border-bottom: 10px solid var(--bg-color-off);
  margin-bottom: -20px;
}

.contact ul {
  display: flex;
  justify-content: center;
}

.contact li {
  padding: 5px 12px;
}

.contact svg {
  color: var(--text-secondary-color);
  height: 22px;
  transition: all 0.2s ease-out;
}

.contact svg:hover {
  color: var(--primary-color);
}
