.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  flex-direction: column;
}

.title p {
  padding: var(--pd-1);
  line-height: 1.4;
}

.title h1 {
  font-size: var(--fs-h1);
  line-height: 1.8;
  color: var(--text-primary-color);
}

.title h1 span {
  border-bottom: 10px solid var(--bg-color-off);
  margin-bottom: -20px;
}

.contact ul {
  display: flex;
  justify-content: center;
}

.contact li {
  padding: 5px 12px;
}

.contact svg {
  color: var(--text-secondary-color);
  height: 22px;
  transition: all 0.2s ease-out;
}

.contact svg:hover {
  color: var(--primary-color);
}
