.contact ul {
  display: flex;
  justify-content: center;
}

.contact li {
  padding: 5px 12px;
}

.contact svg {
  color: var(--text-secondary-color);
  height: 22px;
}

.contact svg:hover {
  color: var(--text-primary-color);
  transition-duration: 0.7s;
}
