.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 32px 0;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 38px;
}

.navbarAssets {
  display: flex;
  gap: 20px;
}

.navbarLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  color: var(--text-secondary-color);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.navbarLinks.active {
  height: 60%;
  opacity: 1;
}

.navbarLinks.active li {
  padding: var(--pd-0);
}

.navbarLinks.active li a {
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.navbarLinks.active li a:hover {
  color: var(--hover-secondary);
}

.navbarToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 38px;
  width: 38px;
  transition: all 0.2s ease-out;
}

.navbarToggle:hover {
  color: var(--hover-secondary);
}

.navbarToggle svg {
  height: 36px;
  width: 36px;
}

.menuClose {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.menuOpen {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbarLinks {
    display: flex;
    height: auto;
    opacity: 1;
    position: relative;
  }

  .navbarLinks ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .navbarToggle {
    display: none;
  }
}
