.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--pd-2);
  gap: 32px;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo img {
  width: 38px;
}

.phrase {
  display: flex;
  max-width: 220px;
}

.footer ul {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  border: 2px solid var(--border);
  margin: 8px;
  transition: all 0.2s ease-out;
  border-radius: var(--radius);
}

.footer li:hover {
  background-color: var(--hover-secondary);
}

.footer li:hover svg {
  fill: var(--bg-color);
}

.footer svg {
  height: 22px;
  display: flex;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
