.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo img {
  width: 38px;
}

.phrase {
  display: flex;
  max-width: 220px;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid var(--text-secondary-color);
  border-radius: 50%;
  margin: 8px;
  transition: all 0.2s ease-out;
}

.footer li:hover {
  background-color: var(--text-primary-color);
  
}

.footer li:hover svg {
  fill: var(--bg-color);
  
}

.footer svg {
  height: 22px;
  display: flex;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
