/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global configuration */
:root {
  --bg-color: #000000;
  --bg-color-off: #1A1A1A;
  --text-primary-color: #ededed;
  --text-secondary-color: #9c9c9c;
  --primary-color: #ffff00;
  --font-family-base: "Plus Jakarta Sans", sans-serif;
  --font-size-base: 1.5625rem;

  --border: #333;
  --border-off: #ededed;

  --radius: 8px;

  --pd-0: 16px 0;
  --pd-1: 32px 0;
  --pd-2: 64px 0;

  --fs-h1: clamp(var(--font-size-base), 2rem + 5.163vw, 8rem);
  --fs-h2: clamp(1.125rem, 2.625vw + 0.875rem, 1.625rem);
  --fs-h3: clamp(1.0625rem, 2.625vw + 0.875rem, 1.2125rem);

  --hover-primary: #ffff00;
  --hover-secondary: #ededed;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: var(--font-family-base);
  src: url('yourfont.woff2') format('woff2');
  font-display: swap;
}

/* General styles */

body {
  font-family: var(--font-family-base);
  color: var(--text-secondary-color);
  background-color: var(--bg-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 600;
}

h2 {
  color: var(--text-primary-color);
}

.container {
  height: 100%;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: auto;
  }
}
