.stackContainer {
  width: 100%;
  padding: var(--pd-2);
  max-width: 1024px;
  margin: auto;
}

.boxStackContainer {
  border-radius: var(--radius);
  background-color: var(--bg-color-off);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 16px;
  padding: 16px;
}

.boxStack {
  display: flex;
  padding: 16px;
  height: 70px;
  width: 100%;
  min-width: 30%;
  background-color: var(--bg-color);
  border-radius: var(--radius);
}

.boxStackImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid var(--border);
  font-size: 12px;
}

.boxStackImg svg {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.boxStackText {
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.boxStackText h3 {
  font-size: 14px;
  color: var(--text-primary-color);
}

.boxStackText p {
  font-size: 13px;
}
