.stackContainer {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  padding-bottom: var(--pd-2);
}

.boxStackContainer {
  border-radius: var(--radius);
  background-color: var(--bg-color-off);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 25px;
  padding: 16px;
}

.boxStack {
  display: flex;
  padding: 16px;
  height: 70px;
  width: 100%;
  min-width: 30%;
  background-color: var(--bg-color);
  border-radius: var(--radius);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boxStackImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid var(--border);
  font-size: 12px;
  transition: background-image 0.2s ease-out, color 0.2s ease-out;
}

.boxStackImg:hover {
  background-image: linear-gradient(
    220deg,
    var(--primary-color) 20%,
    var(--secondary-color)
  );
  color: var(--bg-color);
}

.boxStackImg svg {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: color 0.2s ease-out;
}

.boxStackImg svg:hover {
  color: var(--bg-color);
}

.boxStack:hover .boxStackImg {
  background-image: linear-gradient(
    220deg,
    var(--primary-color) 20%,
    var(--secondary-color)
  );
  color: var(--bg-color);
}

.boxStack:hover .boxStackImg svg {
  color: var(--bg-color);
}


.boxStackText {
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.boxStackText h3 {
  font-size: 14px;
  color: var(--text-primary-color);
}

.boxStackText p {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .stackContainer {
    width: 80%;
  }

  .boxStackContainer {
    border-radius: var(--radius);
    background-color: var(--bg-color-off);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    width: 100%;
    gap: 25px;
    padding: 16px;
  }
}
